$box_shadow: -10px -10px 24px rgba(255, 255, 255, 0.6),
  10px 10px 24px rgba(174, 174, 192, 0.2);
$primary_color: #f0f0f3;
$eqal_button_color: #2dd3c5;
$operator_color: #745ff2;
$operand_color: #728ab7;
$screen_background: linear-gradient(145.27deg, #2e2c2c -4.62%, #0b0a0a 64.58%);
$previous_equation: rgba(114, 138, 183, 0.65);
$button_width: 70px;
$button_gap: 10px;
$border_radius: 12px;
$large_font: 45px;
