@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body,
section,
div,
button,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
